.elisyam-bg.background-03 {
    background: url(../img_app5/im-bg.jpg) no-repeat;
    background-size: cover;
}

.authentication-form-2 {
    width: 100%;
    padding: 0 45px 45px;
}

.nav-account {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    margin: 30px 0 20px;
}

.nav-account li {
    padding-right: 15px;
    color: #666;
}

.nav-account li .active {
    color: #e23f83;
}

.btn {
    border-radius: 0;
}

.side-navbar .sub > span {
    width: 100%;
    display: block;
    text-align: center;
}

.compact-sidebar {
    background: #03a9f4;
}

.compact-sidebar > .side-navbar a[aria-expanded="true"] {
    background: rgba(0, 0, 0, .1);
}


.compact-sidebar > .side-navbar ul a {
    padding-bottom: 18px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
}

.compact-sidebar > .side-navbar ul span a {
    padding: 10px 0;
    font-size: 12px;
}

.compact-sidebar > .side-navbar a i,
.compact-sidebar > .side-navbar ul a:hover i {
    margin: 5px auto;
    color: #fff;
}

.compact-sidebar > .side-navbar a[data-toggle="collapse"]::before {
    color: #fff;
}

@keyframes warn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        opacity: 0.35;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.65;
    }
    75% {
        transform: scale(0.5);
        opacity: 0.95;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}

.tagBox {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 40px;
    height: 40px;
}

.dot {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background: #03a9f4;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.pulse {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -10px;
    top: -10px;
    border: 20px solid #03a9f4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 3s ease-out;
    -moz-animation: warn 3s ease-out;
    animation: warn 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.content-inner.compact {
    background: #eee;
}

.btn-custom01 {
    color: #fff;
    background-color: #03a9f4;
}

.btn-custom01 i {
    color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .4rem
}

.btn-custom01:hover {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.btn-custom01:focus,
.btn-custom01.focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, .5)
}

.btn-custom01.disabled,
.btn-custom01:disabled {
    background-color: #03a9f4
}

.btn-custom01:active,
.btn-custom01.active,
.show > .btn-custom01.dropdown-toggle {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
    background-image: none
}


/*new style06*/
.compact-sidebar > .side-navbar {
    min-width: 140px;
    max-width: 140px;
}

.content-inner.compact {
    width: calc(100% - 140px);
    margin-left: 140px;
    transition: all 0.3s ease;
}

.compact-sidebar > .side-navbar a[aria-expanded="true"] i,
.side-navbar .sub a.active {
    color: #fff;
}

.side-navbar .sub a.active {
    background-color: rgba(0, 0, 0, 0.2);
}